<div class="row animated fadeIn fast">
  <div class="col-4">
      <div class="card">
          <div class="card-body">
            <h3>Usuarios</h3>

            <div
              *ngIf="usuarios.length == 0; else usuariosRef"
              class="alert alert-info">
              <p class="mb-0">No hay usuarios con ese termino</p>
            </div>

            <ng-template #usuariosRef>
              <div
                class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>
                              <img
                                class="w75"
                                [src]="usuario.img | imagen: 'usuarios'"
                                alt="usuario.nombre">
                            </td>
                            <td>{{ usuario.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </ng-template>

          </div>
      </div>
  </div>
  <div class="col-4">
      <div class="card">
          <div class="card-body">
            <h3>Medicos</h3>

            <div
              *ngIf="medicos.length == 0; else medicosRef"
              class="alert alert-info">
              <p class="mb-0">No hay medicos con ese termino</p>
            </div>

            <ng-template #medicosRef>
              <div
                class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <td>
                              <img
                                class="w75"
                                [src]="medico.img | imagen: 'medicos'"
                                alt="medico.nombre">
                            </td>
                            <td>{{ medico.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </ng-template>


          </div>
      </div>
  </div>
  <div class="col-4">
      <div class="card">
          <div class="card-body">
            <h3>Hospitales</h3>

            <div
              *ngIf="hospitales.length == 0; else hospitalesRef"
              class="alert alert-info">
              <p class="mb-0">No hay hospitales con ese termino</p>
            </div>

            <ng-template #hospitalesRef>
              <div
                class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td>
                              <img
                                class="w75"
                                [src]="hospital.img | imagen: 'hospitales'"
                                alt="hospital.nombre">
                            </td>
                            <td>{{ hospital.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </ng-template>
          </div>
      </div>
  </div>
</div>
